body {font-family: 'Montserrat', sans-serif;}

main {
	display: flex;
	flex-flow: row wrap;
	padding: 10px 5px;
}

.navigation-top {
	display: inline-block;
	width: 100%;
	margin-top: 5%;
}

.navigation-bottom {
	display: inline-block;
	width: 100%;
	margin-bottom: 5%;
}

.btn-voltar, .btn-voltar-dumb {
	margin-left: 15%;
	width: 95px;
}

.btn-avancar, .btn-avancar-dumb {
	float: right;	
	margin-right: 15%;
	width: 95px;
}

.btn-voltar-dumb, .btn-avancar-dumb {
	visibility: hidden;
}