* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 140px;
	right: 10px;
	background-color: rgb(47, 106, 235);
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	/* box-shadow: 2px 2px 3px #999; */
}

.my-float {
	margin: 14px auto;
}

.float .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: rgb(238, 156, 26, 0.8);
	color: #f8f9fa;
	font-weight: 600;
	text-align: center;
	border-radius: 5px;
	padding: 5px 0;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: -5px;
	right: 105%;
}

.float:hover .tooltiptext {
	visibility: visible;
}

.float:hover {
	color: rgb(255, 255, 146)
}

.modal-open {
	overflow: scroll;
}