#inputPesquisar {
	box-sizing: border-box;
	width: 310px;
}

.logo {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.logo-text {
	line-height: 40px;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: 700;
	color: #3860aa;
	text-shadow: 0 2px 5px rgba(30, 30, 30, 0.5);
}

@media (max-width: 480px) {
	NavbarBrand {
		display: block;
	}
}

.btn-outline-light {
	border: 1px solid transparent;
	color: #f8f9fa;
	border-color: #f8f9fa;
	background-color: rgba(200, 70, 70, 0.3);
	font-weight: 700;
}