.bg-warning.jumbotron {
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	margin-bottom: 0;
	border-radius: 0;
}

#inputPesquisar {
	box-sizing: border-box;
	width: 310px;
}

.logo {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.logo-text {
	line-height: 40px;
	vertical-align: middle;
	font-size: 1.5em;
	font-weight: 700;
	color: #3860aa;
	text-shadow: 0 2px 5px rgba(30, 30, 30, 0.5);
}

.div-brand {
	cursor: pointer;
}

@media (max-width: 480px) {
	.div-brand {
		display: block;
	}
	.logo-text {
		font-size: 1.2em;
	}
	#inputPesquisar {
		display: block;
		width: 100%;
		font-size: 0.8em;
	}
}

.btn-outline-light {
	border: 1px solid transparent;
	color: #f8f9fa;
	border-color: #f8f9fa;
	background-color: rgba(200, 70, 70, 0.3);
	font-weight: 700;
}

.navbar-toggler {
	border: 1px solid transparent;
	border-color: #f8f9fa;
	background-color: rgba(200, 70, 70, 0.3);
}

.navbar-toggler:focus {
	outline: none;
	background-color: rgba(220, 90, 90, 0.2);
}