.card {
	flex: 1 1 calc(25% - 2rem);
	padding: 5px;
	margin: 5px 4px;
}

.main-card-unico {
	max-width: 100%;
	padding: 5px 30%;
	margin: 0 auto;
}

.main-card-unico .card .card-img {
	width: 50%;
}

.card-body {
	display: flex;
	flex-direction: column !important;
}

.card-title {
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.6em;
	font-weight: 800;
	color: rgb(214, 40, 40);
}

.card-subtitle {
	margin: 15px auto;
}

.strong {
	font-weight: 600;
	color: rgb(44, 44, 255);
}

.preco {
	text-align: center;
	margin: 15px auto;
	font-weight: 700;
	color: rgb(255, 72, 0);
}

/* .card:last-of-type {
	flex-grow: 0;
} */

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
	.card {
		flex: 1 1 calc(33% - 2rem);
	}
	.main-card-unico {
		padding: 5px 20%;
		margin: 0 auto;
	}
	.card-title {
		font-size: 1.2em;
	}
	.card-subtitle, .card-text {
		font-size: 1.1em;
	}
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	.card {
		flex: 1 1 calc(50% - 2rem);
	}

	.main-card-unico {
		padding: 5px 5%;
		margin: 0 auto;
	}

	.main-card-unico .card .card-img {
		width: 70%;
	}

	.card-title {
		font-size: 1.1em;
	}
	.card-subtitle, .card-text {
		font-size: 1.1em;
	}
}

/* Landscape phones and down */

@media (max-width: 480px) {
	.card {
		flex: 1 1 calc(100% - 2rem);
		padding: 0;
		margin: 0;
	}

	.main-card-unico {
		padding: 0;
		margin: 0;
	}

	.main-card-unico .card .card-img {
		width: 70%;
	}

	.card-title {
		font-size: 1.2em;
	}
	.card-subtitle, .card-text {
		font-size: 1.1em;
	}
}

.card-img {
	width: 70%;
	margin: 15px auto;
}

.card-button {
	background-color: #3860AA;
}

.div-card-button {
	text-align: center;
	margin-top: auto;
}

.card-subtitle, .card-text {
	margin-top: auto !important;
}

.card-hidden {
	visibility: hidden;
	height: 0;
	margin: 0;
}